:root{
   --pink-color:rgb(255, 63, 164);
   --red-color:rgb(255, 102, 102);
   --primary-1: hsl(205, 86%, 17%);
   --primary-2: hsl(205, 77%, 27%);
   --primary-3: hsl(205, 72%, 37%);
   --primary-4: hsl(205, 63%, 48%);
   --primary-5: hsl(205, 78%, 60%);

   /* lighter shades of primary color /
   --primary-6: hsl(205, 89%, 70%);
   --primary-7: hsl(205, 90%, 76%);
   --primary-8: hsl(205, 86%, 81%);
   --primary-9: hsl(205, 90%, 88%);
   --primary-10: hsl(205, 100%, 96%);

   / darkest grey - used for headings /
   --grey-1: hsl(209, 61%, 16%);
   --grey-2: hsl(211, 39%, 23%);
   --grey-3: hsl(209, 34%, 30%);
   --grey-4: hsl(209, 28%, 39%);

   / grey used for paragraphs */
   --grey-5: hsl(210, 22%, 49%);
   --grey-6: hsl(209, 23%, 60%);
   --grey-7: hsl(211, 27%, 70%);
   --grey-8: hsl(210, 31%, 80%);
   --grey-9: hsl(212, 33%, 89%);
   --grey-10: hsl(210, 36%, 96%);
   --white: #fff;
   --red-dark: hsl(360, 67%, 44%);
   --red-light: hsl(299, 71%, 66%);
   --red-pink: hsl(0, 54%, 56%);
   --dark-pink:#AA336A;
   --green-dark: hsl(125, 67%, 44%);
   --green-light: hsl(125, 71%, 66%);
   --black: #222;
   --black1: rgba(34, 34, 34, 0.673);
   --blackdarktheme: rgba(34, 34, 34, 0.881);
   --blackcolor: rgba(34, 34, 34, 0.651);
   --blackligthdark:rgba(34, 34, 34, 0.828);

   --primaryfont: "Roboto", sans-serif;
   --secondaryfont: "Open Sans";
   --fontfamily:Lucida;

   --transition: all 0.3s linear;
   --spacing: 0.1rem;
   --radius: 0.25rem;

   --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   --lightdark-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);

   --max-width: 1294px;
   --heigth:650px;
   --max-heigth:600px;
   --fixed-width: 620px;
   --fontsize: 30px;
   --padding: 20px;
   --display:flex;
   --border:none;
   --cursor:pointer

}

body {
   width: 100%;
   max-width: 1440px;
   height: 100%;
   margin: 0;
}

.container {
   width: 100%;
   /* margin: 0 auto; */
   display: grid;
   justify-content: center;
   gap: 45px;
}

.heading_top {
   width: 50%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   align-items: center;
}

div#bottom_content {
   width: 50%;
   margin: 0 auto;
   padding: 0px 0px 10px 0px;
}



.Dark_btn {
    border: none;
    border-radius: 7px;
    padding: 7px 23px;
    background-color: var(--pink-color);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

h3 {
   color: var(--red-color);
   font-weight: bold;
   margin: 0 0 7px 0;
   font-family: 'Fraunces';
}
h6{
margin: 0;
font-style: italic;
font-size: 7px;
}
p {
   width: 90%;
   padding-bottom: 17px;
   line-height: 21px;
   font-family: 'Fraunces';
   font-size: 13px;
   /* color: #222222c7; */
   font-weight: 550;
}

/*.................Class_list_Properties............*/

.body_color{
   background-color: var(--blackdarktheme);
   transition: var(--transition);

}
.h3_color{
   color: var(--pink-color);
}
.col_change{
   color: #fff;
}
.Light_btn{
   color: var(--black);
   /* color: black; */
   background-color:rgba(255, 63, 165, 0.705);
   /* color: #; */
   /* font-size: 30px; */
}
.container_style{
   color: white;
}